.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 104, 0);
}
.coin-table{
  margin: 50px auto 50px auto;
  display: inline-block;
  font-size: 1.4rem;
}

.App-logo {
  /*height defines the size of the logo*/
  height: 8rem;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  /* 100vh means full screen is occupied by header */
  min-height: 20vh;
  display: flex;
  /* flex-direction defines how items are ordered (column orders it vertically and row horizontally) */
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* font size determines the size of the text */
  font-size: 36px;
  color: white;
}
.App-title{
  /* font size determines the size of the text */
  font-size: 4rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* For CSS practice refer to Flexbox Zombies and CSS Diner and CSS Cheat Sheet to check all CSS properties */
/*Material-ui.com for professional CSS designs*/
